<div class="contenedor-inicio">
    <h2>Haz click en alguna de las funciones principales</h2>

    <div class="menu-opciones">
        <button mat-raised-button class="boton-opcion" routerLink="/paciente/nuevo-turno">
            <mat-icon>event</mat-icon>
            <span>Nuevo turno</span>
        </button>

        <button mat-raised-button class="boton-opcion" routerLink="/paciente/mis-turnos">
            <mat-icon>list_alt</mat-icon>
            <span>Mis turnos</span>
        </button>

        <button mat-raised-button class="boton-opcion" routerLink="/paciente/mis-datos">
            <mat-icon>person</mat-icon>
            <span>Mis datos</span>
        </button>
    </div>
</div>