<mat-toolbar class="header">
    <span>Bienvenido a la clínica virtual</span>

    <span class="spacer"></span>

    <ng-container *ngIf="_authService.estaLogueado() && usuario">
        <span class="usuario-nombre">
            {{ usuario.nombre | titlecase }}
            {{ usuario.apellido | titlecase }}
        </span>
        <button mat-icon-button matTooltip=" {{ usuario.rol | titlecase }}">
            <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Cerrar sesión" (click)="logout()" color="warn" class="btn-cerrar">
            <mat-icon>logout</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>


<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>Clínica VIP</h3>
            <p>Saavedra 5035</p>
        </div>

        <div class="footer-section p__telefono">
            <p><mat-icon>phone</mat-icon> 3424123456</p>
        </div>

        <div class="footer-section p__mail">
            <p><mat-icon>email</mat-icon> topclinicas34&#64;gmail.com</p>
        </div>

        <div class="footer-section">
            <a href="https://www.instagram.com/clinica_vip" target="_blank" class="link-instagram">
                <img src="assets/img/instagram.png" alt="Instagram" class="icon-instagram">
                <span>&#64;clinica_vip</span>
            </a>
        </div>
    </div>
</footer>