.nuevo-turno-container {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 2px 8px #0000001a;
}

.turno-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}