.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.info-card {
    max-width: 450px;
    padding: 1.2rem;
    text-align: center;
}

.info-card h2 {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

.btn-login {
    background-color: #1565C0 !important;
    color: white !important;
}

.btn-registro {
    border-color: #80b1c7 !important;
    color: #094764 !important;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 16px;
}